body {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
h1 {
  color: #4d926f;
}
a, a:link, a:visited {
  text-decoration: none;
  color: #3399ff;
}
a:hover {
  text-decoration: underline;
}
ul, li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
li {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 5px;
}
li:hover {
  background: #b6e0ff;
}
